*[data-scroll] {
  overflow: hidden;
}
*[data-scroll] img {
  height: 120%;
}

.landmark {
  background: #e5f77d;
  padding-bottom: 50px;
}

.landmark .head-line {
  padding: 123px 0 80px 75px;
  letter-spacing: -0.05em;
  line-height: 90%;
  font-weight: 400;
  font-size: 7.8vw;
  opacity: 0;
}

.landmark .content-wrapper {
  display: flex;
}

.landmark .content-wrapper .img-box {
  position: relative;
  width: calc((1150 / 1280) * 100%);

  flex: 1;
  overflow: hidden;
}

.landmark .content-wrapper .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  object-position: right top;
}

.writing-wrapper .title {
  margin-bottom: 19px;
  text-align: start;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  font-style: italic;
  font-family: "GT";
}
.content-wrapper .writing-wrapper {
  text-align: justify;
  margin: 0 5vw;
}
.content-wrapper .writing-wrapper .desc {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
}

.content-wrapper .writing-wrapper .desc2 {
  padding-top: 30px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
}

.content-wrapper .writing-wrapper .link-more {
  background-color: #353535;
  color: #fafaf9;
  padding: 22px 132px;
  border-radius: 3.3333333333px;
  margin-top: 40px;
  font-size: 12px;
}

.innovative .inner {
  padding: 75px 50px 70px 50px;
}

.innovative .inner .head-line {
  font-size: 5.7291666667vw;
  letter-spacing: -0.05em;
  line-height: 90%;
  font-weight: 400;
  opacity: 0;
}

.innovative .inner .content-list {
  padding-top: 200px;
  display: flex;
  gap: 31.25px;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.innovative .inner .content-list .list-item {
  flex: 1;
}

.innovative .inner .content-list .list-item .img-box {
  position: relative;
  padding-bottom: calc((240 / 250) * 100%);
}

.innovative .inner .content-list .list-item:nth-child(2n) .img-box {
  position: relative;
  padding-bottom: calc((380 / 250) * 100%);
}

.innovative .inner .content-list .list-item .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.innovative .inner .content-list .list-item .title {
  margin-top: 30px;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
}

.innovative .inner .content-list .list-item .desc {
  margin-top: 15px;
  font-size: 19.97px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
  color: #9c9c9c;
}

.innovative .inner .link-more-wrapper {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}
.innovative .inner .link-more-wrapper .link-more-title {
  margin-bottom: 30px;
  font-size: 1.4vw;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  font-style: italic;
  font-family: "GT";
}
.innovative .inner .link-more-wrapper .link-more {
  background-color: #353535;
  color: #fafaf9;
  padding: 22px 96px;
  border-radius: 3.3333333333px;
  width: 259px;
  height: 53px;
  display: flex;
  white-space: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 0.8vw;
}

.comprehensive {
  background: #fff;
}
.comprehensive .inner {
  padding: 120px 0;
}
.comprehensive .inner .head-line {
  font-size: 5.2vw;
  margin-left: 3vw;
  letter-spacing: -0.05em;
  line-height: 90%;
  font-weight: 400;
}

.comprehensive .inner .content-inner {
  padding-top: 50px;
  display: flex;
  gap: 80px;
}

.comprehensive .inner .content-inner .img-box {
  position: relative;
  padding-bottom: calc((862.5 / 912) * 100%);
  flex: 1;
}
.comprehensive .inner .content-inner .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

.comprehensive .inner .content-inner .list {
  width: 540px;
  padding-right: 4vw;
}
.comprehensive .inner .content-inner .list li {
  margin: 0 0 90px;
  padding: 45px 0 0;
  border-top: 1px solid #e9e9e5;
}
.comprehensive .content-box {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  position: relative;
}
.comprehensive .content-box .img-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.comprehensive .content-box .img-wrapper img {
  width: 71.25px;
  height: 71.25px;
}
.comprehensive .content-box .title {
  font-weight: 700;
  font-size: 13.695px;
  font-family: "Borna";
}

.comprehensive .content-box .desc {
  font-size: 16.5px;
  font-family: "Borna";
  font-weight: 400;
}

.peaturebanner {
  display: flex;
  background: #e5f77d;
}
.peaturebanner .wrap {
  flex: 1;
  background: #e5f77d;
  padding: 0 5vw 5vw 0;
}

.peaturebanner .img-box {
  position: relative;
  width: 50vw;
  overflow: hidden;
}
.peaturebanner .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.peaturebanner .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
  transition: 0.5s;
}

.peaturebanner .img.active {
  opacity: 1;
  z-index: 10;
}
.peaturebanner .img.active img {
  transform: scale(1);
}

.peaturebanner .title-box {
  display: flex;
  flex-direction: column;
  padding: 60px;
}
.peaturebanner .title-box .title {
  transition: 0.5s;
  opacity: 10%;
  font-size: 3vw;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 200;
  font-family: "GT";
}

.peaturebanner .title-box .title:hover {
  opacity: 100%;
}
.peaturebanner .title-box .title.active {
  opacity: 100%;
}

.peaturebanner .desc {
  width: 50%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.1vw;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
}

.peaturebanner .desc .desc-title {
  font-size: 1.5vw;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  font-style: italic;
  font-family: "GT";
  margin-bottom: 30px;
}

.peaturebanner .desc .read-more {
  background-color: #353535;
  color: #fafaf9;
  padding: 1.3vw 6vw;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  margin-top: 35px;
  font-size: 0.8vw;
}

.available {
  padding: 190px 0;
  /* display: flex; */
  /* flex-direction: column; */
}
.available .head-line {
  padding-left: 3.1vw;
  margin-bottom: 9.375vw;
  opacity: 0;
  margin-bottom: 180px;
  font-size: 5.7291666667vw;
  letter-spacing: -0.05em;
  line-height: 90%;
  font-weight: 400;
}

.available .content-box {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background: #ededec;
  pointer-events: auto;
}
.available .content-box .active {
  transition: padding 0.8s cubic-bezier(0.42, 0, 0, 1);
}
.available .side-nav {
  height: 0;
  position: relative;
  overflow: hidden;
  background: #ededec;
  transition: height 0.3s ease;
}

.available .side-nav.active {
  height: auto;
}
.available .side-nav .content-wrapper {
  display: flex;
  padding: 6.25vw 3.125vw 3.125vw;
  flex-direction: row;
  justify-content: space-between;
}

.available .side-nav .desc-box {
  width: 21vw;
}
.available .side-nav .desc-box .title {
  font-size: 1.4583333333vw;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 3vw;
  font-family: "GT";
}
.available .side-nav .desc-box .desc {
  font-size: 1.1vw;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
  margin-bottom: 3vw;
}
.available .side-nav .desc-box .btn-wrapper {
  padding: 1.3vw 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  border-radius: 0.2vw;
  font-size: 0.8vw;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.available .side-nav .desc-box .download {
  border-width: 0.05vw;
}

.available .main-vs {
  width: 40.625vw;
}
.available .main-vs .img-box {
  margin-bottom: 3vw;
}
.available .main-vs .img-box img {
}
.available .main-vs .list {
  font-size: 1.1458333333vw;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.available .main-vs .list li {
  padding: 0.78125vw 0;
  border-top: 0.0520833333vw solid rgba(0, 0, 0, 0.2);
}
.available .main-vs .list .text {
  display: flex;
  justify-content: space-between;
  padding-right: 6vw;
}

.available .content-box.point {
  background: #fff;
}

.available .content-box .img-box {
  width: 90px;
}

.available .content-box .img-box img {
  object-fit: cover;
}
.available .content-box .img-content {
  padding: 1.5vw 3vw;
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  transition: padding 0.8s cubic-bezier(0.42, 0, 0, 1);
}
.available .content-box .img-content.active {
  padding: 1.5vw 3.5vw;
}

.available .content-box .img-content .img-title {
  display: block;
  position: absolute;
  padding: 0.5vw;
  top: 0.7vw;
  left: 1.4vw;
  font-size: 0.8vw;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
  color: #353535;
  background-color: #e5f77d;
  z-index: 1;
}

.available .content-box .img-content h3 {
  font-size: 2vw;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  /* max-width: 150px; */
}

.available .main-content-box {
  display: flex;
  flex: 1;
}

.available .main-content-box .item {
  display: flex;
  flex: 1;
  align-items: center;
}

.available .main-content-box .item .item-list {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.available .main-content-box .item .item-list .title {
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
}

.available .main-content-box .item .item-list .desc {
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
  color: #9c9c9c;
}

.available .main-content-box .btn-wrapper {
  /* margin-left: auto; */
  display: flex;
  cursor: pointer;
  border-width: 1px;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.64s cubic-bezier(0.6, 0, 0.4, 1),
    border-color 0.64s cubic-bezier(0.6, 0, 0.4, 1);
  padding: 26px 116px;
  border-radius: 4px;
  font-size: 0.8vw;
}
.available .main-content-box .btn-wrapper svg {
  width: 1vw;
  height: 1vw;
  margin-left: 0.5vw;
}

.available .link-more {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-size: 0.8vw;
  position: absolute;
  background-color: #353535;
  color: #fafaf9;
  transition: background-color 0.64s cubic-bezier(0.6, 0, 0.4, 1),
    border-color 0.64s cubic-bezier(0.6, 0, 0.4, 1);
  text-align: center;
  padding: 1.3vw 6vw;
  border-radius: 4px;
  width: 223px;
  height: 53px;
  margin-top: 54px;
  margin-left: 42px;
}

.connecting {
}
.connecting .head-line {
  opacity: 0;
  font-size: 110px;
  letter-spacing: -0.05em;
  line-height: 90%;
  font-weight: 400;
  font-size: 5.7vw;
  padding-left: 45px;
  padding-bottom: 128px;
  padding-top: 6.25vw;
}

.connecting .content-wrapper {
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
  gap: 60px;
  height: calc(50vw + 60px);
  /* background: #f00; */
}
.connecting .content-box {
  display: flex;
  justify-content: flex-end;
  position: relative;
  flex: 1;
  /* transition: width 1.46s cubic-bezier(0.58, 0, 0.01, 1),
    height 1.46s cubic-bezier(0.58, 0, 0.01, 1),
    opacity 1.46s cubic-bezier(0.58, 0, 0.01, 1); */
}

.connecting .content-box:last-child {
  justify-content: flex-start;
}
.connecting .content-box .img-box {
  position: relative;
  width: 50%;
  transition: width 1.46s cubic-bezier(0.58, 0, 0.01, 1),
    height 1.46s cubic-bezier(0.58, 0, 0.01, 1),
    opacity 1.46s cubic-bezier(0.58, 0, 0.01, 1);
}
.connecting .content-box .img-box img {
}

.connecting .content-box .img-box .desc {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  opacity: 1;
}
.connecting .content-box .img-box .desc.on {
  transition: 1s;
  opacity: 0;
}
.connecting .content-box2 .img-box .desc {
  position: absolute;
  bottom: -68px;
  left: 68.5px;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
}

.connecting .content-box.active .img-box {
  width: 100%;
}

.only {
  padding-top: 6.25vw;
}

.only .content-wrapper {
  display: flex;
  align-items: flex-start;
  /* flex-direction: column; */
}
.only .content-wrapper .head-line {
  margin-bottom: 27px;
  font-size: 5.2vw;
  letter-spacing: -0.05em;
  line-height: 90%;
  font-weight: 400;
  padding: 50px 43px;
}

.only .content-wrapper img {
  width: calc((720 * 100vw) / 1920);
}
.only .desc-wrapper {
  flex: 1;
  margin-left: 10.5vw;
}
.only .content-wrapper .desc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 47px;
  margin-bottom: 121px;
}
.only .content-wrapper .link-more {
  display: flex;
  margin-right: 68px;
  margin-top: 80px;
  border-width: 0.75px;
  background-color: transparent;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1.3vw 6vw;
  border-radius: 3px;
  height: 54px;
  width: 236px;
  font-size: 0.8vw;
  white-space: nowrap;
}

.become {
  background: #cecdd3;
  padding: 100px 45px;
}

.become .businese-card-wrapper {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: space-between;
}
.become .businese-card-wrapper .head-line {
  font-size: 5vw;
  letter-spacing: -0.05em;
  line-height: 90%;
  font-weight: 400;
}
.become .businese-card-wrapper .businese-card-box {
  display: flex;
  flex-direction: column;
  margin-right: 400px;
  gap: 10px;
}
.become .businese-card-wrapper .businese-card {
  width: 13vw;
  height: 13vw;
  border: 1px solid #9c9c9c;
  padding: 50px;
  display: flex;
  align-items: center;
}
.become .businese-card-wrapper .businese-card img {
}

.become .businese-card-wrapper .businese-card-box .text-box {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.become .businese-card-wrapper .businese-card-box .name {
  font-size: 21px;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  font-family: "GT";
}
.become .businese-card-wrapper .businese-card-box .number {
  margin-top: 20px;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
}

.become .become-content-wrapper .desc-wrapper {
  margin-top: 12vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.become .become-content-wrapper .desc-wrapper .title {
  font-size: 21px;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  font-style: italic;
  font-family: "GT";
}
.become .become-content-wrapper .desc-wrapper .desc {
  font-size: 16.5px;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  font-family: "Borna";
}
.become .become-content-wrapper .desc-wrapper .link-more {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353535;
  color: #fafaf9;
  padding: 1.3541666667vw 6.0416666667vw;
  width: 305px;
  height: 53px;
  border-radius: 3px;
  font-size: 0.8vw;
  letter-spacing: 0;
  line-height: 120%;
  font-weight: 400;
  white-space: nowrap;
}

.mobile-peaturebanner {
  display: none;
}
/* 작은 pc 랩탑 [[[[[  1025를보고 잡음  ]]]]]]*/

@media (max-width: 1230px) {
  footer .mobile-list {
    display: none;
  }
  .innovative .inner .link-more-wrapper .link-more-title {
    margin-bottom: 15px;
  }
  .innovative .inner .link-more-wrapper {
    padding-top: 110px;
  }

  .writing-wrapper .title {
    font-size: 1.5vw;
  }
  .content-wrapper .writing-wrapper .desc {
    font-size: 1vw;
  }
  .content-wrapper .writing-wrapper .desc2 {
    font-size: 1vw;
  }
  .content-wrapper .writing-wrapper .link-more {
    padding: 1.3541666667vw 6.0416666667vw;
  }
  .landmark .content-wrapper .img-box {
    width: 66vw;
    height: 60vw;
  }
  .content-wrapper .writing-wrapper {
    margin: 0 11vw 0px 5vw;
  }
  .peaturebanner .desc {
    margin-right: 0;
  }
  .peaturebanner .title-box .title {
    font-size: 3.6vw;
  }
  .only .content-wrapper .head-line {
    padding: 50px 0px;
  }
  .comprehensive .inner .content-inner .list {
    width: 28vw;
    padding-right: 4vw;
  }
  .comprehensive .content-box .img-wrapper {
    width: 50px;
    height: 50px;
  }
  .comprehensive .content-box .img-wrapper img {
    width: 50px;
    height: 50px;
  }
  .comprehensive .content-box .title {
    font-size: 10px;
  }
  .comprehensive .content-box .desc {
    font-size: 10px;
  }
  .available .main-content-box .btn-wrapper {
    padding: 1.3541666667vw 6.0416666667vw;
  }
  .only .content-wrapper .head-line {
    font-size: 5vw;
    letter-spacing: -0.05em;
  }
  .only .content-wrapper .desc {
    font-size: 1vw;
    letter-spacing: 0;
  }
  .only .content-wrapper .link-more {
    width: 175px;
    height: 40px;
    margin-right: 0;
  }
  .only .content-wrapper .desc {
    margin-right: 90px;
  }

  .become .businese-card-wrapper .businese-card {
    padding: 26px;
  }
  .become .businese-card-wrapper .head-line {
    transform: translate(0%, -2%);
  }
  .become .become-content-wrapper .desc-wrapper .title {
    font-size: 1.4vw;
  }
  .become .become-content-wrapper .desc-wrapper .desc {
    font-size: 1vw;
  }
  .become .become-content-wrapper .desc-wrapper .link-more {
    width: 200px;
    height: 40px;
  }

  .landmark .head-line {
    padding: 123px 0px 70px 45px;
  }
  .innovative .inner .content-list {
    padding-top: 115px;
  }
  .innovative .inner .content-list li {
    flex: 1;
  }
  .innovative .inner .content-list .list-item .title {
    font-size: 1vw;
  }
  .innovative .inner .content-list .list-item .desc {
    font-size: 1vw;
  }
  .innovative .inner .link-more-wrapper .link-more {
    width: 195px;
    height: 40px;
  }

  .connecting .content-wrapper {
    padding: 0 20px;
  }

  .connecting .content-box .img-box .desc {
    font-size: 1.6vw;
    margin-top: 2vw;
  }
  .comprehensive .inner .content-inner .img-box {
    padding-bottom: calc((862.5 / 1190) * 100%);
  }
  .peaturebanner .title-box {
    margin: 3.125vw 3.125vw;
    padding: 0;
  }

  footer .header-box .link-more {
    width: 165px;
    height: 40px;
  }
}

/* 테블릿 [[[[[     768를보고 잡음   ]]]]]]*/
@media (max-width: 1024px) {
  footer .mobile-list {
    display: none;
  }
  .comprehensive .inner .content-inner .list {
    padding-right: 4vw;
    width: 31vw;
  }
  .comprehensive .inner .content-inner .list li {
    margin: 0 0 40px;
    padding: 20px 0 0;
    border-top: 1px solid #e9e9e5;
  }
  .comprehensive .content-box {
    display: flex;
    align-items: flex-end;
  }
  .comprehensive .content-box .title {
    position: static;
  }
  .comprehensive .content-box .img-wrapper {
    width: 38px;
    height: 38px;
  }
  .comprehensive .content-box .img-wrapper img {
    width: 38px;
    height: 38px;
  }
  .comprehensive .inner .content-inner .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .comprehensive .inner .content-inner .img-box {
    width: 63vw;
    height: 60vw;
  }
  .available .content-box .img-content {
    padding: 0.5vw 3vw;
  }
  .available .link-more {
    width: 134px;
    height: 32px;
    margin-top: 25px;
    margin-left: 19px;
  }
  .connecting .content-box .img-box .desc {
    display: flex;
    justify-content: flex-end;
  }
  .become {
    padding: 60px 45px;
  }
  .become .become-content-wrapper .desc-wrapper {
    margin-top: 0;
  }
}

/* 모바일 [[[[[    320를보고 잡음     ]]]]]]*/
@media (max-width: 767px) {
  .available .main-content-box .btn-wrapper svg {
    width: 3vw;
    height: 3vw;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
  }
  .mobile-peaturebanner {
    background: #e5f77d;
    padding: 16vw 0 32vw;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .mobile-peaturebanner .big-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .mobile-peaturebanner .list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 4vw;
  }
  .mobile-peaturebanner .list li {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.3vw solid rgba(0, 0, 0, 0.2);
    padding: 8vw 4vw;
  }

  .mobile-peaturebanner .list li:last-child {
    border-bottom: 0.3vw solid rgba(0, 0, 0, 0.2);
  }

  .mobile-peaturebanner .list li .icon-wrapper {
    width: 6vw;
    height: 6vw;
  }
  .mobile-peaturebanner .list li svg {
    fill: none;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.49, 0, 0, 1);
  }
  .mobile-peaturebanner .list li svg.on {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
  }

  .mobile-peaturebanner .list li .title {
    cursor: pointer;
    display: flex;
    font-size: 8vw;
    letter-spacing: -0.03em;
    line-height: 100%;
    font-weight: 200;
    font-family: "GT";
    color: #353535;
  }
  .mobile-peaturebanner .read-more {
    margin: 16vw 4vw 0;
    font-size: 4vw;
    letter-spacing: 0;
    line-height: 120%;
    font-weight: 400;
    background: #353535;
    color: #fafaf9;
    padding: 4vw 10vw;
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
    width: 25vw;
  }
  .peaturebanner {
    display: none;
  }
  .mobile-peaturebanner .list .sub-item {
    display: none;
    margin-top: 50px;
  }
  .mobile-peaturebanner .list .sub-item .desc {
    margin-top: 60px;
    font-size: 4vw;
  }

  .mobile-peaturebanner .list .sub-item.on {
    display: block;
  }
  .content-wrapper .writing-wrapper {
    padding: 9vw 11vw 0vw 0vw;
  }
  .landmark .content-wrapper {
    display: grid;
    gap: 10px;
  }
  .landmark .content-wrapper .img-box {
    width: 84vw;
    height: 85vw;
  }
  .landmark .head-line {
    padding: 123px 0px 70px 28px;
    font-size: 13vw;
  }
  .innovative .inner .link-more-wrapper .link-more {
    width: 146px;
  }
  .writing-wrapper .title {
    font-size: 5vw;
  }
  .content-wrapper .writing-wrapper .desc {
    font-size: 3vw;
  }
  .content-wrapper .writing-wrapper .desc2 {
    font-size: 3vw;
  }

  .content-wrapper .writing-wrapper .link-more {
    padding: 4vw 9.6vw;
  }
  .innovative .inner .content-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .innovative .inner {
    padding: 75px 15px 70px 15px;
  }
  .innovative .inner .content-list {
    padding-top: 10px;
  }
  .innovative .inner .head-line {
    font-size: 11vw;
  }
  .innovative .inner .link-more-wrapper .link-more-title {
    font-size: 5vw;
  }
  .innovative .inner .link-more-wrapper .link-more {
    padding: 4vw 9.6vw;
  }
  .comprehensive .inner .head-line {
    font-size: 11vw;
  }
  .comprehensive .inner .content-inner .img-box {
    width: 84vw;
    height: 85vw;
  }
  .comprehensive .inner .content-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding-left: 50px;
  }
  .comprehensive .content-box .title {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }
  .comprehensive .inner .content-inner .list {
    width: 80vw;
  }
  .comprehensive .content-box .img-wrapper {
    width: 25.3333333333vw;
    height: 25.3333333333vw;
    margin-right: 4vw;
  }
  .comprehensive .content-box .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .comprehensive .inner .content-inner .list li {
    padding: 10px 0 0;
  }
  .comprehensive .inner {
    padding: 0;
  }
  .available .content-box .img-content {
    padding: 1.5vw 3vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    position: relative;
    transition: padding 0.8s cubic-bezier(0.42, 0, 0, 1);
  }
  .available .main-content-box {
    flex-direction: column;
    display: flex;
    flex: 1;
  }
  .available .main-content-box .item {
    display: flex;
    flex: 1;
    align-items: start;
    flex-direction: column;
    gap: 10px;
  }
  .available .side-nav .content-wrapper {
    display: flex;
    padding: 6.25vw 3.125vw 3.125vw;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .available .side-nav .desc-box .desc {
    white-space: nowrap;
    font-size: 4vw;
  }
  .available .main-vs .img-box {
    width: 92vw;
  }
  .available .main-vs .list li {
    padding: 5vw 0;
    width: 100vw;
  }
  .available .side-nav .desc-box .title {
    font-size: 5vw;
    white-space: nowrap;
  }
  .available .side-nav .desc-box .btn-wrapper {
    padding: 4vw 9.6vw;
    width: 96vw;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .available .link-more {
    padding: 4vw 9.6vw;
    font-size: 4vw;
    font-weight: 400;
    width: 110px;
    height: 40px;
    margin-left: 10px;
  }
  .available .head-line {
    margin-bottom: 50px;
    font-size: 11vw;
  }
  .available .content-box .img-content .img-title {
    display: block;
    position: absolute;
    padding: 2vw;
    top: 2.7vw;
    left: 1.4vw;
    font-size: 4vw;
    letter-spacing: 0;
    line-height: 120%;
    font-weight: 400;
    font-family: "Borna";
    color: #353535;
    background-color: #e5f77d;
    z-index: 1;
  }
  .available .content-box .img-box {
    margin-top: 6vw;
  }
  .available .content-box .img-content h3 {
    position: absolute;
    top: 15vw;
    right: 45vw;
    font-size: 7vw;
  }
  .available .main-content-box .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 290px;
    height: 45px;
  }

  .become .businese-card-wrapper .businese-card {
    width: 100%;
    height: 69vw;
    border: 0.3vw solid #9c9c9c;
    padding: 18vw;
  }
  .become .businese-card-wrapper {
    flex-direction: column;
    gap: 0;
  }
  .become .businese-card-wrapper .businese-card-box {
    margin-right: 0;
    margin-top: 10vw;
  }
  .comprehensive .inner .content-inner {
    padding-right: 15px;
  }
  .comprehensive .content-box .title {
    position: static;
  }
  .comprehensive .content-box {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .only .content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .only .content-wrapper img {
    width: 92vw;
    height: 102vw;
  }
  .only .content-wrapper .head-line {
    font-size: 10vw;
  }
  .connecting .head-line {
    padding-left: 20px;
    font-size: 12vw;
    letter-spacing: -0.05em;
    line-height: 90%;
    font-weight: 400;
    padding-bottom: 70px;
  }

  .connecting .content-wrapper {
    display: none;
  }
  .connecting .mobile-content-box {
    padding: 0 15px;
    display: block;
  }
  .connecting .mobile-content-box .img-box {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16vw;
    flex-direction: column;
  }

  .connecting .mobile-content-box .img-box .desc {
    margin-top: 8vw;
    font-size: 5vw;
    letter-spacing: 0;
    line-height: 120%;
    font-weight: 400;
  }

  .only .desc-wrapper {
    margin-left: 0;
    padding: 0 12px;
  }
  .only .content-wrapper .desc {
    font-size: 4vw;
    margin-right: 58px;
    align-items: flex-start;
  }
  .only .content-wrapper .link-more {
    width: 125px;
    height: 40px;
  }
  .become {
    padding: 60px 20px;
  }
  .become .businese-card-wrapper .head-line {
    font-size: 11vw;
    white-space: nowrap;
  }
  .become .become-content-wrapper .desc-wrapper .title {
    font-size: 5vw;
  }
  .become .become-content-wrapper .desc-wrapper .desc {
    font-size: 4vw;
  }
  .become .become-content-wrapper .desc-wrapper .link-more {
    width: 380px;
    height: 55px;
    font-size: 3.3vw;
  }
  .become .become-content-wrapper .desc-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 34px;
  }
  .become .become-content-wrapper .desc-wrapper .link-more {
    width: 280px;
    height: 40px;
  }
  footer {
    padding: 100px 10px 35px;
  }
  footer .header-box .head-line {
    font-size: 12vw;
  }
  footer .header-box {
    gap: 40px;
  }
  footer .img-wrapper {
    display: none;
  }
  footer .list {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  footer .list li {
    font-size: 4vw;
    font-weight: 400;
  }
  footer .mobile-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 75px;
  }
  footer .mobile-list li {
    color: #fafaf9;
  }
  .getBtn-wrapper {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .getBtn-wrapper .get-btn {
    width: 100%;
    padding: 6.1333333333vw 8vw;
    font-size: 4vw;
    letter-spacing: 0;
    line-height: 120%;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #353535;
    background-color: #fafaf9;
    transition: background-color 0.64s cubic-bezier(0.49, 0, 0, 1),
      color 0.64s cubic-bezier(0.49, 0, 0, 1);
  }
  .getBtn-wrapper .get-btn svg {
    width: 6vw;
    height: 6vw;
    margin-left: 3.5vw;
  }
  .fix-alarm {
    top: 8%;
    left: 18%;
  }
  .fix-alarm .main-box {
    width: 63vw;
  }
  .fix-alarm .main-box .close2 {
    cursor: pointer;
    font-size: 3vw;
    letter-spacing: 0;
    line-height: 120%;
    font-weight: 400;
    position: absolute;
    top: 3%;
    right: 3%;
  }
  .fix-alarm .main-box .title {
    font-size: 2vw;
    padding-top: 50px;
  }
  .fix-alarm .main-box .desc-box {
    padding-top: 10px;
  }
  .fix-alarm .main-box .desc-box .sub-box {
    gap: 10px;
  }
  .fix-alarm .main-box .desc-box .sub-box .title {
    font-size: 3vw;
  }
  .fix-alarm .main-box .desc-box .sub-box .number {
    font-size: 2vw;
  }
  .fix-alarm .main-box .desc-box .sub-box .email {
    font-size: 2vw;
  }
  .fix-alarm .main-box .desc-box .sub-box .img-wrapper {
    width: 8vw;
    height: auto;
    margin-top: 8px;
  }
  .fix-alarm .main-box .desc-box .office-btn-wrapper {
    margin-top: 20px;
    border: 1px solid #bab9bd;
    border-width: 0.2666666667vw;
    width: 48vw;
    height: 7vw;
    transition: background-color 0.64s cubic-bezier(0.6, 0, 0.4, 1),
      border-color 0.64s cubic-bezier(0.6, 0, 0.4, 1);
    padding: 1.5625vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer .header-box .link-more {
    width: 32vw;
    height: 11vw;
    border-radius: 1.2vw;
  }
}
